@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:300,400,400i,500,500i,700,700i,900,900i");
@import url("https://cdn.materialdesignicons.com/1.6.50/css/materialdesignicons.min.css");
* {
  font-size: 14px;
}
.body {
  font-family: "Roboto";
  background-color: #f7f8fa;
}
strong {
  color: #444;
}

/* Header */
.header {
  text-align: center;
  padding: 90px 0 60px;
  color: #fff;
  font-size: 20px;
}
.header h1 {
  font-family: "Roboto Slab";
}

/* Cards */
.card {
  box-shadow: 6px 6px 25px 0 rgba(97, 120, 146, 0.12);
  background-color: #fff;
  border-radius: 3px 3px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #f3f3f3;
}
.card-title {
  background-color: #fafafa;
  margin: -10px -10px 10px;
  padding: 10px;
}
.card-title-dark {
  background-color: #eee;
  margin: -10px -10px 10px;
  padding: 10px;
  text-transform: uppercase;
}

/* Busca & Filtros */
.busca input {
  border: 1px solid #999;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 60%;
  padding: 8px 0;
  font-size: 14px;
}
.busca input:focus {
  outline: none;
}
.busca i {
  cursor: pointer;
  float: right;
  margin: 2px -20px;
  transform: scaleX(-1);
  font-size: 24px;
  color: #444;
}
.filters {
  background-color: #fafafa;
}
.filters .cell {
  padding: 25px;
}
input[type="range"] {
  background-color: #cecfd0;
  background-image: linear-gradient(#119c9f, #119c9f);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 1px;
  cursor: pointer;
  height: 4px;
  width: 100%;
  -webkit-appearance: none;
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 4px solid #333;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
}
.fund-risk-filter {
  position: relative;
}
.fund-risk-filter input[type="range"] {
  background-image: linear-gradient(
    to left,
    #b51414,
    #ff0600,
    #ff5e00,
    #f80,
    #fb0,
    #faf00e,
    #ddf40c,
    #b0f42a,
    #91ed6e,
    #68f1dd,
    #a6ecfc
  );
  height: 40px;
}
.fund-risk-filter input[type="range"]::-webkit-slider-thumb {
  border-radius: 0;
  background: #fff;
  cursor: pointer;
  border-top: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #333;
  margin-top: 55px;
  z-index: 2;
}
.fund-risk-filter .diagonal {
  position: absolute;
  width: 105%;
  height: 30px;
  transform: rotate(-6deg);
  background-color: #fafafa;
  top: -16px;
  left: -4px;
}
.fund-risk-filter .line {
  position: absolute;
  width: 90%;
  height: 1px;
  background-color: #999;
  top: 50px;
  z-index: 1;
}
.min,
.max {
  margin-top: 15px;
}
.min {
  float: left;
}
.max {
  float: right;
}

/* Filtros da direita */
.card-title .checkbox,
.checkbox:last-child {
  border: none;
  margin-bottom: -5px;
}
.checkbox {
  border-bottom: 1px solid #eee;
  margin: 0 -10px;
  padding: 5px 0 5px 10px;
}
.checkbox input {
  opacity: 0;
  position: absolute;
  width: 180px;
  height: 25px;
}
.checkbox label::before {
  color: #ccc;
  content: "\F131";
  font: 16px/1 "Material Design Icons";
  margin-right: 5px;
}
.checkbox input[type="checkbox"]:checked + label::before {
  color: #119c9f;
  content: "\F132";
}

/* Lista de fundos */
.funds-title {
  margin-bottom: 0;
}
.funds-type {
  color: #999;
  font-size: 12px;
}
.qualified {
  color: #639d31;
  margin-left: 6px;
}
.funds {
  margin-top: -10px;
  margin-left: -10px;
  display: table;
}
.funds .cell {
  padding: 12px 0 12px 10px;
  text-align: right;
  vertical-align: middle;
  display: table-cell;
}
.funds .cell:first-child {
  text-align: left;
}
.funds-risk-1,
.funds-risk-2,
.funds-risk-3,
.funds-risk-4,
.funds-risk-5,
.funds-risk-6,
.funds-risk-7,
.funds-risk-8,
.funds-risk-9,
.funds-risk-10,
.funds-risk-11,
.funds-risk-12 {
  border-left: 7px solid #999;
  margin-left: -10px;
  display: block;
}
.funds-risk-1 {
  border-left-color: #a6ecfc;
}
.funds-risk-2 {
  border-left-color: #68f1dd;
}
.funds-risk-3 {
  border-left-color: #91ed6e;
}
.funds-risk-4 {
  border-left-color: #b0f42a;
}
.funds-risk-5 {
  border-left-color: #ddf40c;
}
.funds-risk-6 {
  border-left-color: #ffdc00;
}
.funds-risk-7 {
  border-left-color: #faf00e;
}
.funds-risk-8 {
  border-left-color: #fb0;
}
.funds-risk-9 {
  border-left-color: #f80;
}
.funds-risk-10 {
  border-left-color: #ff5e00;
}
.funds-risk-11 {
  border-left-color: #ff0600;
}
.funds-risk-12 {
  border-left-color: #b51414;
}
.prazo-info {
  font-size: 16px;
}
.apply {
  background: #119c9f;
  border: solid 2px transparent;
  color: #fff;
  font-size: 18px;
  height: 22px;
  width: 22px;
  display: block;
  position: relative;
  text-align: center;
  transform: rotate(101deg) translateX(-1px) translateY(-1px);
  border-radius: 100px;
  padding: 0 4px 0 0;
  float: right;
}
.apply:hover {
  background: #21acaf;
  color: #fff;
}

/* Legenda */
.legenda {
  max-width: 400px;
}
.legenda i {
  color: #aaa;
  font-size: 20px;
  margin:4px 0;
}
.legenda i.mdi-star-circle {
  color: #639d31;
}
.legenda i.mdi-block-helper {
  font-size: 18px;
}
.legenda i.mdi-information-outline {
  color: #444;
}
.legenda i.mdi-reply {
  background: #119c9f;
  border: solid 2px transparent;
  color: #fff;
  height: 20px;
  width: 20px;
  display: block;
  position: relative;
  text-align: center;
  transform: rotate(101deg);
  border-radius: 100px;
  padding: 0 4px 0 0;
}
